.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #F5F8FA;
    z-index: 9998;
    text-align: center;
}

.plane-container {
    position: absolute;
    top: 50%;
    left: 50%;
}

.thumb-image {
    width: 25%;
    height: 25%;
}

/* Image Preview */
.btn-tertiary {
    display: block;
    width: 100%;
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #F5F8FA;
    background-clip: padding-box;
    border: 1px solid #E1E8EE;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-tertiary:hover,
.btn-tertiary:focus {
    color: #888;
    border-color: #9AD4F1
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file+.js-labelFile {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    cursor: pointer;
}

.input-file1 {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file1+.js-labelFile1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    cursor: pointer;
}

.input-file2 {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file2+.js-labelFile2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    cursor: pointer;
}

.input-file3 {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file3+.js-labelFile3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    cursor: pointer;
}

.f-circle {
    border-radius: 50%;
    height: 80px;
    width: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    object-position: center
}

.img-circular{
    object-fit: cover;
    object-position: center;
}


.badge {
    padding: 2px 8px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    font-size: 11px;
}
.badge.info {
    background: #6bb5b5;
    color: #fff;
}
.badge.warning {
    background: #f7be57;
}
.badge.critical {
    background: #de4f4f;
    color: #fff;
}
.badge.emergency {
    background: #ff6060;
    color: white;
}
.badge.notice {
    background: bisque;
}
.badge.debug {
    background: #8e8c8c;
    color: white;
}
.badge.alert {
    background: #4ba4ea;
    color: white;
}
.badge.error {
    background: #c36a6a;
    color: white;
}

.modal-body p {
    word-wrap: break-word;
}